body{
    font-family: Times New Roman, serif;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

input {
    padding: 10px;
    border-radius: 50px;
}

button {
    padding: 10px;
    border-radius: 50px;
    background-color: #2766b2;
    color: rgb(0, 0, 0);

}

table {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-collapse: collapse;

}

table,th,td,tbody {
    border: 1px solid white;
    
}

.container {
    width: 20%;
    margin: auto;
    padding: 15px;
    background-color: #1e1e1e;
    border-radius: 10px;
}

.balance-title {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 5px;
}

#amountResult {
    font-size: 28px;
    font-weight: bold;
    color: #00ff5e;
}